<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <h2> Nombre de la App: {{nombre}} </h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2> Fecha: {{fecha}} </h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2> Version: {{version}} </h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2> Autor: {{autor}} </h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
